
html, body{
height: 100%;
}


.nav{
text-align: center;
}

.header li{
display: inline;
margin-left: 55px;

}

.header a{
text-decoration: none;
color: brown;
}

.wrapper{
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}


.fon-text_1{
/*
border: 2px solid blue;
padding: 44px;
background-color: green;
*/
display: flex;
/*
justify-content: center;
*/
}



.text_1 {
width: 450px;
  height: 380px;
  background: green;
  border-radius: 2100px/1900px;
  margin-top: 100px;
}

.text_2 {
width: 450px;
  height: 380px;
  background: green;
  border-radius: 2100px/1900px;
  margin-top: 100px;
  margin-left: 200px;
}

.text_3 {
width: 450px;
  height: 380px;
  background: green;
  border-radius: 2100px/1900px;
  margin-top: 100px;
  margin-left: 200px;
}
/*
.text_1{
color: red;
font-family: monospace;
overflow: hidden;
font-size: 32px;
display: flex;
justify-content: center;

white-space: normal;
width: 92ch;
animation: flashing-border 0.75s step-end 10s,
printed-text 5s steps(92);

}

@keyframes flashing-border{
    0%{
        border-color: orange;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: orange;
    }
}

@keyframes printed-text{
from{
    width: 0%;


    }
}


.text_2{
color: red;
font-family: monospace;
overflow: hidden;
font-size: 32px;
display: flex;
justify-content: center;

white-space: normal;
width: 92ch;
animation: flashing-bord 0.75s step-end 10s,
printed-tex 5s steps(92);

}

@keyframes flashing-bord{
    0%{
        border-color: orange;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: orange;
    }
}

@keyframes printed-tex{
from{
    width: 0%;


    }
}


.text_3{
color: red;
font-family: monospace;
overflow: hidden;
font-size: 32px;
display: flex;
justify-content: center;

white-space: normal;
width: 92ch;
animation: flashing-bor 0.75s step-end 10s,
printed-te 5s steps(92);

}

@keyframes flashing-bor{
    0%{
        border-color: orange;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: orange;
    }
}

@keyframes printed-te{
from{
    width: 0%;


    }
}
*/


.oval {
position: relative;
width: 700px;
height: 500px;
margin: auto;
width: 50%;
background: black;
border-radius: 700px/600px;
margin-top: 100px;
}



.foot{
display: flex;
border: 1px;
padding: 10px;
background-color: orange;
}


.p_1{

color: blue;
top: 2px;
line-height: 40px;
}

.p_2{
color: blue;
top: 2px;
margin-left: 600px;

line-height: 40px;
}

.p_3{

color: blue;
top: 2px;
margin-left: 700px;
line-height: 40px;
}

.modal {
  display: none; /* скрыт по умолчанию */
  /* темный фон при открытии модалки должен быть на всю страницу */
  position: fixed;
  z-index: 1; /* поверх всех элементов */
  left: 0;
  top: 0;
  width: 100vw; /* полная ширина */
  height: 100vh; /* полная высота */
  background-color: rgba(0,0,0,0.4); /* цвет фона - прозрачный черный */
}

/* само модальное окно с контентом */
.modal-content {
  background-color: #fff;
  /* окно будет находится по центру по горизонтали и с отступом сверху в 100 px */
  margin: 100px auto;
  padding: 20px;
  width: 50%;
  font-size: 20px;
  /* разнесем текст и кнопоку по краям окна */
  display: flex;
  justify-content: space-between;
 }

span {
  cursor: pointer;
}
