{% extends 'main.html' %}

{% block content %}
<h1  style="position: relative">Наши контакты</h1>
<div style="position: absolute">
<h3>Телефон</h3>
<p>70000000000</p>
<h3>Почта</h3>
<p>email@studio.ru</p>
</div>
<div style="position: absolute; left: 50%">
    <h2 style="text-align: center">Напишите нам</h2>
    <p style="text-align: center">Имя:</p>
    <input type="text" style="width: 505px">
    <p style="text-align: center">Телефон:</p>
    <input type="tel" style="width: 505px">
    <p style="text-align: center">Сообщение:</p>
    <textarea cols="70" rows="15"></textarea>
    <div style="text-align: center">
    <button type="submit">Отправить</button>
    </div>
</div>
{% endblock %}