{% extends 'main.html' %}
{% block content %}
<div class="fon-text_1">
    <div class="text_1">
        <p style="text-indent: 50px;line-height: 10"> У нас молодая, но очень перспективная </p> <p style="text-indent: 42px;
            line-height: 1">компания.
        Мы зародились в 2024 году у </p> <p style="text-align: center; line-height: 10"> нас классные цели</p>
        </div>
    <div class="text_2">
        <p style="text-align: center; line-height: 10">и интересные задачи.</p><p style="text-indent: 55px; line-height: 1"> Мы стараемся достигать результатов</p>
        <p style="text-align: center; line-height: 10">и идти к намеченной цели</p>
    </div>
    <div class="text_3">
        <p style="text-align: center;line-height: 10">используя</p> <p style="text-align: center; line-height: 1">самые эффективные</p>
        <p style="text-align: center; line-height: 10">концепции и подходы.</p>
    </div>
</div>
<div class="oval">
    <div style="position: absolute; top: 50%; left: 50%; width: 700px; margin-left: -350px; height: 700px;margin-top:-100px">
<p style="color:white;text-align: center; line-height: 30px">
    Мы помогаем бизнесу стать лучше, эффективней, помогаем поднять известность компании. Если вы хотите привлечь
    большой трафик клиентов в свою компанию, то смело обращайтесь к нам. На наших сайтах всегда продуманная
    структура и красивый дизайн.  Всё это помогает повысить популярность бизнесов наших клиентов. </p>
</div>
</div>

{% endblock %}
