{% extends 'main.html' %}
{% block content %}
<div class="fon-text_1">
    <p class="text_1">
        У нас молодая, но очень перспективная компания. Мы зародились в 2024 году у нас классные цели
    </p>
    <p class="text_2">
        и интересные задачи. Мы стараемся достигать результатов и идти к намеченной цели, используя самые эффективные
    </p>
    <p class="text_3">
        концепции и подходы.
    </p>
</div>
<div class="oval">
    <div style="position: absolute; top: 50%; left: 50%; width: 700px; margin-left: -350px; height: 700px;margin-top:-100px">
<p style="color:white;text-align: center; line-height: 30px">
    Мы помогаем бизнесу стать лучше, эффективней, помогаем поднять известность компании. Если вы хотите привлечь
    большой трафик клиентов в свою компанию, то смело обращайтесь к нам. На наших сайтах всегда продуманная
    структура и красивый дизайн.  Всё это помогает повысить популярность бизнесов наших клиентов. </p>
</div>
</div>

{% endblock %}
